@page "/tic-tac-toe"
@using PlotterDuck.Components.Models.SQLDB
@using PlotterDuck.Components.Models.TicTacToe
<h3>Tic Tac Toe</h3>

@result
<br />
@CurrentEnemyBot.botName;
<br/>
@CurrentEnemyBot.playerWins : @CurrentEnemyBot.enemyWins
<br />

<table>
	@for(int x = 0; x < 3; x++)
	{
		<tr>
		@for(int y = 0; y < 3; y++)
		{
			int box_index = x*3 + y;
			<td><img src=@boardIMGpaths[box_index] @onclick="() => BoxClick(box_index)"></td>
		}
		</tr>
	}
</table>

<button @onclick="ResetBoard">Reset</button>

@code {
	TicTacToeArbiter arbiter = new TicTacToeArbiter();

	Sql_TTT_Enemy enemySQL = new Sql_TTT_Enemy();

	Bot_TTT CurrentEnemyBot = new Bot_TTT();

	bool gameEnded = false;

	string[] boardIMGpaths = new string[9];

	string current_enemy = "";

	string result = "";

	int player, enemy = 0;


	string imagesDir = "TicTacToe";
	string emptyImage = "TTT_empty.png";
	string playerImage = "TTT_X.png";
	string enemyImage = "TTT_O.png";

	protected override void OnInitialized()
	{
		ResetBoard();
		GetEnemy();
		//await enemySQL.SaveBotAsync(new Bot_TTT("Jay", 0, 1, 2));
		//var item = await enemySQL.GetEnemies();
		//enemySQL.AddEnemy("Jay", 0, 1, 2);
	}

	private async void GetEnemy()
	{
		var x = await enemySQL.SaveBotAsync(new Bot_TTT("Jay", 0, 1, 2));
		var item = await enemySQL.GetEnemies();
		CurrentEnemyBot = item[0];
		
	}

	protected void ResetBoard()
	{
		arbiter.Board.Reset();
		result = "";
		gameEnded = false;
		for(int x = 0; x < boardIMGpaths.Count(); x++)
		{
			boardIMGpaths[x] = @Path.Combine(@imagesDir, emptyImage);
		}

	}

	void BoxClick(int x)
	{
		if(arbiter.Board.Boardstates[x] == TTTBoxState.Empty && !gameEnded)
		{
			arbiter.Board.SetBox(x, true);
			boardIMGpaths[x] = @Path.Combine(@imagesDir, playerImage);

			if(arbiter.CheckWin(true))
			{
				result = "Player wins!";
				gameEnded = true;
				return;
			}

			int? enemyMove = arbiter.GetBestMove();
			if(enemyMove != null)
			{
				int enemyMoveInt = (int)enemyMove;
				arbiter.Board.SetBox(enemyMoveInt, false);
				boardIMGpaths[enemyMoveInt] = @Path.Combine(@imagesDir, enemyImage);
				if (arbiter.CheckWin(false))
				{
					result = "Enemy wins!";
					gameEnded = true;
					return;
				}
			}
			else
			{
				Console.WriteLine("No moves left");
			}
		}
	}
}
